.all
  .head-title
    Public Posts
  - @posts.each do |post|
    .content
      .content__title
        = link_to post.title, post_path(post.id), class: "content__title--link"
      .content__user-name
        = post.user.nickname
      .content__bottom-line



